<!DOCTYPE html>
<html data-ng-app="myApp2">
<head>
    <script src="Scripts/angular.min.js"></script>
    <title>Modules, Routes and Factories</title>
</head>
<body>

    <div data-ng-controller="SimpleController">

        Name: <input type="text" data-ng-model="name" /> {{ name }}

        <ul>
            <li data-ng-repeat="person in persons | filter:name | orderBy:'city'">{{ person.name }} - {{ person.city }}</li>
        </ul>

    </div>

    <script>

        var app = angular.module("myApp2", []);

        myapp2.config(function ($routeProvider) {
            $routeProvider
                .when('/',
                {
                    controller: 'SimpleController',
                    templaterUrl: 'Partials/view1.html'
                })
                .when('/partial2',
                {
                    controller: 'SimpleController',
                    templaterUrl: 'Partials/view2.html'
                })
                .otherwise({ redirectTo: '/'})
        });

        app.controller('SimpleController', function ($scope) {
            $scope.persons = [
                { name: 'Linkon', city: 'Dhaka' },
                { name: 'Ripon', city: 'Tangail' },
                { name: 'Rita', city: 'Savar' },
                { name: 'Rudro', city: 'Gazipur' }
            ];
        });

    </script>
</body>
</html>